In [4]:
import os 
import pandas as pd 
import plotly.graph_objects as go

In [5]:
path_bsb_83377_d = os.path.join(os.getcwd(), 'dados_83377_D_1961-09-11_2024-03-14.csv')
path_bsb_A001_d = os.path.join(os.getcwd(), 'dados_A001_D_2000-05-06_2024-03-14.csv')
path_AguasEmendadas_A045_d = os.path.join(os.getcwd(), 'dados_A045_D_2008-10-02_2024-03-14.csv')

In [6]:
# Carregar os dados do arquivo excel a um df 
df_bsb_83377_d = pd.read_csv(path_bsb_83377_d, delimiter=';', skiprows=10)
df_bsb_A001_d = pd.read_csv(path_bsb_A001_d, delimiter=';', skiprows=10)
df_AguasEmendadas_A045_d = pd.read_csv(path_AguasEmendadas_A045_d, delimiter=';', skiprows=10)

In [7]:
df_bsb_83377_d

,Data Medicao,"EVAPORACAO DO PICHE, DIARIA(mm)","INSOLACAO TOTAL, DIARIO(h)","PRECIPITACAO TOTAL, DIARIO(mm)","TEMPERATURA MAXIMA, DIARIA(°C)","TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)","TEMPERATURA MINIMA, DIARIA(°C)","UMIDADE RELATIVA DO AR, MEDIA DIARIA(%)","UMIDADE RELATIVA DO AR, MINIMA DIARIA(%)","VENTO, VELOCIDADE MEDIA DIARIA(m/s)",Unnamed: 10
0,1961-09-11,NaN,NaN,0.0,32.9,NaN,16.0,NaN,20.0,2.566667,NaN
1,1961-09-12,NaN,10.4,0.0,32.4,NaN,14.2,NaN,24.0,2.066667,NaN
2,1961-09-13,NaN,8.4,0.0,32.9,NaN,14.1,NaN,21.0,1.900000,NaN
3,1961-09-14,NaN,9.5,0.0,32.5,NaN,15.0,NaN,16.0,2.900000,NaN
4,1961-09-15,NaN,7.4,0.0,32.2,NaN,13.9,NaN,20.0,2.566667,NaN
...,...,...,...,...,...,...,...,...,...,...,...
22826,2024-03-10,NaN,4.9,26.5,29.7,23.14,19.3,78.00,NaN,1.371840,NaN
22827,2024-03-11,NaN,4.7,0.0,30.0,23.82,20.0,84.75,NaN,0.342960,NaN
22828,2024-03-12,NaN,4.2,4.0,29.8,24.22,20.4,85.00,NaN,0.000000,NaN
22829,2024-03-13,NaN,5.4,2.0,28.9,22.54,17.0,81.25,NaN,0.685920,NaN
22830,2024-03-14,NaN,3.4,6.7,29.3,22.78,19.7,94.75,90.0,0.000000,NaN

In [8]:
df_bsb_A001_d

,Data Medicao,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C),"TEMPERATURA MAXIMA, DIARIA (AUT)(°C)","TEMPERATURA MEDIA, DIARIA (AUT)(°C)","TEMPERATURA MINIMA, DIARIA (AUT)(°C)","UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)","UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)","VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)",Unnamed: 11
0,2000-05-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-05-07,NaN,NaN,NaN,NaN,NaN,NaN,49.153846,36.0,6.3,NaN,NaN
2,2000-05-08,0.0,888.087500,13.516667,28.2,22.137500,16.5,60.333333,33.0,7.1,2.108333,NaN
3,2000-05-09,0.0,888.108333,13.254167,28.7,22.058333,16.6,58.833333,37.0,7.0,1.158333,NaN
4,2000-05-10,0.0,889.000000,14.366667,28.9,22.391667,17.7,62.083333,35.0,6.3,2.054167,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
8709,2024-03-10,19.6,887.704167,19.329167,29.8,23.079167,18.8,81.666667,45.0,9.3,1.537500,NaN
8710,2024-03-11,0.2,887.620833,20.175000,29.7,22.925000,19.0,85.625000,51.0,7.9,1.262500,NaN
8711,2024-03-12,3.2,888.275000,20.333333,29.3,23.929167,19.5,81.916667,55.0,6.0,1.325000,NaN
8712,2024-03-13,1.4,888.362500,20.300000,29.4,23.800000,21.1,81.833333,58.0,7.1,1.837500,NaN
8713,2024-03-14,4.8,888.037500,19.716667,29.1,22.341667,18.9,86.625000,49.0,5.8,1.329167,NaN

In [9]:
df_AguasEmendadas_A045_d

,Data Medicao,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C),"TEMPERATURA MAXIMA, DIARIA (AUT)(°C)","TEMPERATURA MEDIA, DIARIA (AUT)(°C)","TEMPERATURA MINIMA, DIARIA (AUT)(°C)","UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)","UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)","VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)",Unnamed: 11
0,2008-10-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008-10-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008-10-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2008-10-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2008-10-06,NaN,NaN,NaN,NaN,NaN,NaN,31.538462,14.0,9.7,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5638,2024-03-10,0.0,900.730435,18.713043,29.9,22.534783,18.1,80.695652,47.0,10.1,1.556522,NaN
5639,2024-03-11,16.4,900.536364,19.904545,31.1,24.795455,19.6,76.681818,42.0,7.5,1.390909,NaN
5640,2024-03-12,0.0,901.268182,19.022727,31.5,24.386364,18.5,74.590909,43.0,9.9,1.181818,NaN
5641,2024-03-13,0.0,901.363636,20.254545,30.9,24.054545,21.1,80.454545,52.0,9.6,1.763636,NaN
5642,2024-03-14,NaN,901.066667,19.276190,30.8,NaN,19.0,77.904762,44.0,7.9,1.433333,NaN

PRIMEIRO FILTRO:
- Remover valores nodata

In [19]:
# Dois tipos de filtros para os dados do dataframe est_inmet: isna e notna para a colina de TEMPERATURA MEDIA COMPENSADA DIARIA(°C)
filter_isna = df_bsb_83377_d['TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)'].isna()
filter_notna = df_bsb_83377_d['TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)'].notna()

In [20]:
df_bsb_83377_d['TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)'].notna().sum()

22562

In [21]:
df_bsb_83377_d['TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)'].count()

22562

In [22]:
len(df_bsb_83377_d['TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)'])

22831

In [23]:
# Visualizar a quantidade de dados com vazios e sem vazios
print(f"Com vazios: {df_bsb_83377_d.shape[0]}\nVazios: { df_bsb_83377_d[filter_isna].shape[0]}\nSem Vazios {df_bsb_83377_d[filter_notna].shape[0]}")

Com vazios: 22831
Vazios: 269
Sem Vazios 22562

In [24]:
# Atribuir os dados sem vazios a variável est_inmet_filtrado
df_bsb_83377_d_filtrado = df_bsb_83377_d[filter_notna]

Nos próximos processamentos, será necessário a utilização da data de cada linha. Para isso, foi necessário criar duas colunas:
 - Mês 
 - Ano

Além disso, é necessário conveter os valores da coluna "Data Medicacao" que estão como objeto para DateTimes.

In [25]:
#Converter objeto para Data

df_bsb_83377_d_filtrado["Data Medicao"] = pd.to_datetime(df_bsb_83377_d_filtrado["Data Medicao"])

C:\Users\rogerio.siqueira\AppData\Local\Temp\ipykernel_26224\2901567815.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bsb_83377_d_filtrado["Data Medicao"] = pd.to_datetime(df_bsb_83377_d_filtrado["Data Medicao"])

In [26]:
df_bsb_83377_d_filtrado

,Data Medicao,"EVAPORACAO DO PICHE, DIARIA(mm)","INSOLACAO TOTAL, DIARIO(h)","PRECIPITACAO TOTAL, DIARIO(mm)","TEMPERATURA MAXIMA, DIARIA(°C)","TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)","TEMPERATURA MINIMA, DIARIA(°C)","UMIDADE RELATIVA DO AR, MEDIA DIARIA(%)","UMIDADE RELATIVA DO AR, MINIMA DIARIA(%)","VENTO, VELOCIDADE MEDIA DIARIA(m/s)",Unnamed: 10
6,1961-09-17,NaN,NaN,0.0,31.8,24.02,16.5,30.75,20.0,2.066667,NaN
7,1961-09-18,NaN,9.2,0.0,32.4,23.96,14.6,27.75,14.0,1.900000,NaN
8,1961-09-19,NaN,9.4,0.0,33.4,23.80,12.0,31.50,20.0,2.066667,NaN
9,1961-09-20,NaN,9.8,0.0,32.7,23.18,12.0,27.75,18.0,2.900000,NaN
10,1961-09-21,NaN,9.3,0.0,32.7,23.56,13.9,25.00,14.0,1.366667,NaN
...,...,...,...,...,...,...,...,...,...,...,...
22826,2024-03-10,NaN,4.9,26.5,29.7,23.14,19.3,78.00,NaN,1.371840,NaN
22827,2024-03-11,NaN,4.7,0.0,30.0,23.82,20.0,84.75,NaN,0.342960,NaN
22828,2024-03-12,NaN,4.2,4.0,29.8,24.22,20.4,85.00,NaN,0.000000,NaN
22829,2024-03-13,NaN,5.4,2.0,28.9,22.54,17.0,81.25,NaN,0.685920,NaN
22830,2024-03-14,NaN,3.4,6.7,29.3,22.78,19.7,94.75,90.0,0.000000,NaN

In [27]:
#Inserir o nome do mês na coluna Mês

nm_mes = df_bsb_83377_d_filtrado["Data Medicao"].dt.strftime("%B")
df_bsb_83377_d_filtrado.insert(1,"MÊS",nm_mes)

In [28]:
# Visualizar nome do mês na coluna Mês
nm_mes

6        September
7        September
8        September
9        September
10       September
           ...
22826        March
22827        March
22828        March
22829        March
22830        March
Name: Data Medicao, Length: 22562, dtype: object

In [29]:
#Inserir o nome do mês na coluna Mês

ano = df_bsb_83377_d_filtrado["Data Medicao"].dt.strftime("%Y")
df_bsb_83377_d_filtrado.insert(2,"ANO",ano)

In [30]:
# Visualizar colunas do dataframe est_inmet_filtrado
df_bsb_83377_d_filtrado.columns

Index(['Data Medicao', 'MÊS', 'ANO', 'EVAPORACAO DO PICHE, DIARIA(mm)',
       'INSOLACAO TOTAL, DIARIO(h)', 'PRECIPITACAO TOTAL, DIARIO(mm)',
       'TEMPERATURA MAXIMA, DIARIA(°C)',
       'TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)',
       'TEMPERATURA MINIMA, DIARIA(°C)',
       'UMIDADE RELATIVA DO AR, MEDIA DIARIA(%)',
       'UMIDADE RELATIVA DO AR, MINIMA DIARIA(%)',
       'VENTO, VELOCIDADE MEDIA DIARIA(m/s)', 'Unnamed: 10'],
      dtype='object')

In [31]:
# Visualizar alguns registros das colunas Data Medicao, MÊS, ANO e PRECIPITACAO TOTAL DIARIO(mm)
df_bsb_83377_d_filtrado[['Data Medicao', 'MÊS', 'ANO', 'TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)']]

      Data Medicao        MÊS   ANO  TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)
6       1961-09-17  September  1961                                     24.02
7       1961-09-18  September  1961                                     23.96
8       1961-09-19  September  1961                                     23.80
9       1961-09-20  September  1961                                     23.18
10      1961-09-21  September  1961                                     23.56
...            ...        ...   ...                                       ...
22826   2024-03-10      March  2024                                     23.14
22827   2024-03-11      March  2024                                     23.82
22828   2024-03-12      March  2024                                     24.22
22829   2024-03-13      March  2024                                     22.54
22830   2024-03-14      March  2024                                     22.78

[22562 rows x 4 columns]

DADOS DE PRECIPITAÇÃO

SEGUNDO FILTRO - REGRA DE NEGÓCIO
 - Selecionar somente anos com mais de 360 dias de dados observados

In [32]:
# Atribuir os dados filtrados a variável est_inmet_precip
est_bsb_conv_temp = df_bsb_83377_d_filtrado[['Data Medicao', 'MÊS', 'ANO', 'TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)']]

In [33]:
# Obter a quantidade de dias de cada ano
p_qtd_dias_ano = est_bsb_conv_temp.groupby(['ANO']).count()
p_qtd_dias_ano = p_qtd_dias_ano.reset_index()

In [34]:
p_qtd_dias_ano

     ANO  Data Medicao  MÊS  TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)
0   1961            47   47                                        47
1   1962           247  247                                       247
2   1963           365  365                                       365
3   1964           366  366                                       366
4   1965           365  365                                       365
..   ...           ...  ...                                       ...
59  2020           358  358                                       358
60  2021           365  365                                       365
61  2022           363  363                                       363
62  2023           364  364                                       364
63  2024            72   72                                        72

[64 rows x 4 columns]

In [35]:
# Aplicar filtros e renomear a coluna Data Medicao para Dias
p_qtd_dias_ano = p_qtd_dias_ano.iloc[:,0:2]

p_qtd_dias_ano = p_qtd_dias_ano.rename(columns={"Data Medicao": "Dias"})

In [36]:
p_qtd_dias_ano

     ANO  Dias
0   1961    47
1   1962   247
2   1963   365
3   1964   366
4   1965   365
..   ...   ...
59  2020   358
60  2021   365
61  2022   363
62  2023   364
63  2024    72

[64 rows x 2 columns]

In [37]:
# Aplicar regra de negócio atribuiro aos dados de precipitação a variável p_ano_l que é uma lista com os anos que possuem mais de 360 dias
p_ano_l = p_qtd_dias_ano[p_qtd_dias_ano['Dias'] > 360]['ANO'].tolist()
p_ano_l

['1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2021',
 '2022',
 '2023']

In [38]:
# Verificar quais que não atendendem a regra de negócio 
p_ano_l_menor = p_qtd_dias_ano[p_qtd_dias_ano['Dias'] < 360]['ANO'].tolist()
p_ano_l_menor

['1961', '1962', '1979', '1989', '2020', '2024']

In [39]:
# Visualizar a quantidade de anos que possuem mais de 360 dias
p_qtd_dias_ano[p_qtd_dias_ano['Dias'] > 360].shape[0]

57

In [40]:
# Média da Temperatural Mensal para cada ano e mês da série temporal
temp_mes_serie = est_bsb_conv_temp.groupby(['ANO','MÊS'])['TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)'].mean().reset_index()
temp_mes_serie

      ANO        MÊS  TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)
0    1961   November                                 21.602857
1    1961    October                                 22.710000
2    1961  September                                 23.962857
3    1962      April                                 20.401333
4    1962     August                                 19.561935
..    ...        ...                                       ...
742  2023    October                                 24.799355
743  2023  September                                 24.492667
744  2024   February                                 22.467586
745  2024    January                                 22.427097
746  2024      March                                 23.146667

[747 rows x 3 columns]

In [41]:
temp_mes_serie['TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)'].mean()

21.021121398049686

In [42]:
# Aplicar filtro, ie, lista com os anos que possuem mais de 360 dias e atribuir a variável precip_mes_serie
temp_mes_serie = temp_mes_serie[temp_mes_serie["ANO"].isin(p_ano_l)]

In [43]:
# Média da temperatura médiia mensal para cada mês da série temporal
temp_mes = temp_mes_serie.groupby("MÊS")['TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)'].mean()

In [44]:
temp_mes

MÊS
April        21.246797
August       20.707677
December     21.427866
February     21.633400
January      21.591917
July         18.889814
June         18.999272
March        21.655347
May          20.016548
November     21.495984
October      22.438564
September    22.367813
Name: TEMPERATURA MEDIA COMPENSADA, DIARIA(°C), dtype: float64

In [45]:
# Atribuir a um dataframe os dados da variável precip_mes
df_temp_mes = pd.DataFrame(temp_mes)

In [46]:
# Resetar o index do dataframe df_precip_mes
df_temp_mes = df_temp_mes.reset_index()
df_temp_mes

          MÊS  TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)
0       April                                 21.246797
1      August                                 20.707677
2    December                                 21.427866
3    February                                 21.633400
4     January                                 21.591917
5        July                                 18.889814
6        June                                 18.999272
7       March                                 21.655347
8         May                                 20.016548
9    November                                 21.495984
10    October                                 22.438564
11  September                                 22.367813

In [47]:
# Definir um dicionário com o número do mês
dt_number = {'': 0,
             'January': 1,
             'February': 2,
             'March': 3,
             'April': 4,
             'May': 5,
             'June': 6,
             'July': 7,
             'August': 8,
             'September': 9,
             'October': 10,
             'November': 11,
             'December': 12
             }

# Relacionar o número do mês com o nome do mês e atribuir a varíavel num_mes
num_mes = df_temp_mes['MÊS'].apply(lambda x: dt_number[x])

In [58]:
from datetime import datetime

for _, row in df_temp_mes.iterrows():
    print(datetime.strptime(row['MÊS'], '%B').month)

1
2
3
4
5
6
7
8
9
10
11
12

In [49]:
# Inserir a coluna NUM_MÊS no dataframe df_precip_mes
df_temp_mes.insert(1,"NUM_MÊS",num_mes)

In [50]:
# Ordenar os dados do dataframe df_precip_mes pela coluna NUM_MÊS
df_temp_mes = df_temp_mes.sort_values(by=["NUM_MÊS"])

In [51]:
# Visualizar os dados do dataframe df_precip_mes
df_temp_mes

          MÊS  NUM_MÊS  TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)
4     January        1                                 21.591917
3    February        2                                 21.633400
7       March        3                                 21.655347
0       April        4                                 21.246797
8         May        5                                 20.016548
6        June        6                                 18.999272
5        July        7                                 18.889814
1      August        8                                 20.707677
11  September        9                                 22.367813
10    October       10                                 22.438564
9    November       11                                 21.495984
2    December       12                                 21.427866

In [53]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=df_temp_mes['MÊS'], y=round(df_temp_mes['TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)'],2), mode='lines+markers'))

fig.update_layout(title='Média da Temperatura Média Mensal - Estação Convencional Inmet (1961 - 2023)', xaxis_title='Mês', yaxis_title='Temperatura Média (°C)')

In [62]:
df_temp_mes['TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)'].mean()

21.039250009308013