In [1]:
import os 
import pandas as pd 
import plotly.graph_objects as go

In [2]:
# Caminho do arquivo
def caminho_arquivo(nome_arquivo: str):
    return os.path.join(os.getcwd(), nome_arquivo)

# Carregar dados do arquivo CSV
def carregar_dados_csv(caminho_arquivo: str):
    return pd.read_csv(caminho_arquivo, delimiter=';', skiprows=10)

# Contar valores nodata a partir de uma coluna de interesse
def contar_valores_nodata(df: pd.DataFrame, coluna: str):
    isna = df[coluna].isna()
    notna = df[coluna].notna()
    return f'Completo: {len(df[coluna])} | Vazios: Com vazios: {isna.sum()}  | Sem vazios: {notna.sum()}'

# Filtrar dados não nulos
def filtrar_dados_notNaN(df: pd.DataFrame, coluna: str):
    notna = df[coluna].notna()
    return df[notna]

# Inserir coluna com o número do mês
def inserir_mes_ano(df: pd.DataFrame, coluna: str):
    df_copy = df.copy()
    df_copy[coluna] = pd.to_datetime(df_copy[coluna])
    nm_mes = df_copy[coluna].dt.strftime("%B")
    ano = df_copy[coluna].dt.strftime("%Y")

    df_copy.insert(1,"MÊS",nm_mes)
    df_copy.insert(2,"ANO",ano)

    return df_copy

# Inserir coluna com o número do mês e orderar
def inserir_numero_mes(df: pd.DataFrame, coluna: str):
    df_copy = df.copy()

    # Definir um dicionário com o número do mês
    dt_number = {'': 0,
                'January': 1,
                'February': 2,
                'March': 3,
                'April': 4,
                'May': 5,
                'June': 6,
                'July': 7,
                'August': 8,
                'September': 9,
                'October': 10,
                'November': 11,
                'December': 12
                }

    # Relacionar o número do mês com o nome do mês e atribuir a varíavel num_mes
    num_mes = df_copy['MÊS'].apply(lambda x: dt_number[x])

    df_copy.insert(1,"NUM_MÊS",num_mes)

    df_copy = df_copy.sort_values(by=['NUM_MÊS'])

    return df_copy

# Anos que possuem menos de 360 dias de dados de temperatura média
def listar_anos_descartados(df: pd.DataFrame, coluna: str):
    df_copy = df.copy()

    p_qtd_dias_ano = df_copy.groupby([coluna]).count()
    p_qtd_dias_ano = p_qtd_dias_ano.reset_index()

    p_qtd_dias_ano = p_qtd_dias_ano.iloc[:,0:2]
    p_qtd_dias_ano = p_qtd_dias_ano.rename(columns={"Data Medicao": "Dias"})

    p_ano_l = p_qtd_dias_ano[p_qtd_dias_ano['Dias'] > 360]['ANO'].tolist()   
    p_ano_l_menor = p_qtd_dias_ano[p_qtd_dias_ano['Dias'] < 360]['ANO'].tolist()
    
    return p_ano_l, p_ano_l_menor

def calcular_temperatura_media_mes(df: pd.DataFrame, colunas: list, coluna: str):
    df_copy = df.copy()

    # Média da Temperatural Mensal para cada ano e mês da série temporal
    temp_mes_serie = df_copy.groupby(colunas)[coluna].mean().reset_index()
    return temp_mes_serie

def calcular_temperatura_media_ano_completo(df: pd.DataFrame, colunas: list, coluna: str):
    df_copy = df.copy()

    # Média da Temperatural Mensal para cada ano e mês da série temporal
    temp_mes = df_copy.groupby(colunas)[coluna].mean()

    df2 = pd.DataFrame(temp_mes)
    df2 = df2.reset_index()
    return df2

In [9]:
# Carregar os dados do arquivo excel a um df 
df_bsb_83377_d = carregar_dados_csv(caminho_arquivo('dados_83377_D_1961-09-11_2024-03-14.csv'))
df_bsb_A001_d = carregar_dados_csv(caminho_arquivo('dados_A001_D_2000-05-06_2024-03-14.csv'))
df_AguasEmendadas_A045_d = carregar_dados_csv(caminho_arquivo('dados_A045_D_2008-10-02_2024-03-14.csv'))

Temperatura Máxima já registrada em Brasília (Inmet 1964 - 2024)

In [ ]:
df_bsb_83377_d['TEMPERATURA MAXIMA, DIARIA(°C)'].max()

36.4

In [35]:
df_bsb_83377_d.sort_values(by=['TEMPERATURA MAXIMA, DIARIA(°C)'], ascending=False).head(10)

,Data Medicao,"EVAPORACAO DO PICHE, DIARIA(mm)","INSOLACAO TOTAL, DIARIO(h)","PRECIPITACAO TOTAL, DIARIO(mm)","TEMPERATURA MAXIMA, DIARIA(°C)","TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)","TEMPERATURA MINIMA, DIARIA(°C)","UMIDADE RELATIVA DO AR, MEDIA DIARIA(%)","UMIDADE RELATIVA DO AR, MINIMA DIARIA(%)","VENTO, VELOCIDADE MEDIA DIARIA(m/s)",Unnamed: 10
21577,2020-10-08,14.3,9.8,0.0,36.4,28.28,20.9,27.00,15.0,1.685920,NaN
19760,2015-10-18,15.0,10.9,0.0,36.4,28.42,20.1,19.75,15.0,3.333333,NaN
19759,2015-10-17,14.0,10.2,0.0,36.0,28.36,20.1,23.75,18.0,1.666667,NaN
19763,2015-10-21,12.2,7.2,0.0,35.9,27.80,20.5,40.00,23.0,1.000000,NaN
19737,2015-09-25,13.6,10.3,0.0,35.8,28.00,20.4,22.25,15.0,0.000000,NaN
17214,2008-10-28,11.0,10.8,0.0,35.8,29.06,22.0,25.00,13.0,3.666667,NaN
19764,2015-10-22,8.1,7.4,0.0,35.8,27.84,21.0,45.75,28.0,0.342960,NaN
20488,2017-10-15,14.0,10.6,0.0,35.7,27.58,19.9,26.75,15.0,3.000000,NaN
21925,2021-09-21,11.8,7.0,0.0,35.7,26.50,20.1,34.75,NaN,2.000000,NaN
19762,2015-10-20,12.4,10.7,0.0,35.7,27.88,19.9,28.00,19.0,3.342960,NaN

In [ ]:
df_AguasEmendadas_A045_d['TEMPERATURA MAXIMA, DIARIA (AUT)(°C)'].max()

37.8

Verificar a existência de valores vazios

In [5]:
contar_valores_nodata(df_bsb_83377_d, 'TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)')

'Completo: 22831 | Vazios: Com vazios: 269  | Sem vazios: 22562'

In [6]:
contar_valores_nodata(df_bsb_A001_d,'TEMPERATURA MEDIA, DIARIA (AUT)(°C)' )

'Completo: 8714 | Vazios: Com vazios: 340  | Sem vazios: 8374'

In [7]:
contar_valores_nodata(df_AguasEmendadas_A045_d,'TEMPERATURA MEDIA, DIARIA (AUT)(°C)' )

'Completo: 5643 | Vazios: Com vazios: 137  | Sem vazios: 5506'

In [8]:
contar_valores_nodata(df_bsb_83377_d,'TEMPERATURA MAXIMA, DIARIA(°C)' )

'Completo: 22831 | Vazios: Com vazios: 192  | Sem vazios: 22639'

Aplicar regras de negócio:
- Regra 1: Remover valores vazios
- Regra 2: Inserir mes e ano

In [ ]:
df_bsb_83377_d_filtro = filtrar_dados_notNaN(df_bsb_83377_d, 'TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)')
df_bsb_A001_d_filtro = filtrar_dados_notNaN(df_bsb_A001_d, 'TEMPERATURA MEDIA, DIARIA (AUT)(°C)')
df_AguasEmendadas_A045_d_filtro =     filtrar_dados_notNaN(df_AguasEmendadas_A045_d, 'TEMPERATURA MEDIA, DIARIA (AUT)(°C)')
df_bsb_83377_d_filtro_max = filtrar_dados_notNaN(df_bsb_83377_d, 'TEMPERATURA MAXIMA, DIARIA(°C)')

In [ ]:
df_bsb_83377_d_filtro = inserir_mes_ano(df_bsb_83377_d_filtro, 'Data Medicao')
df_bsb_A001_d_filtro = inserir_mes_ano(df_bsb_A001_d_filtro, 'Data Medicao')
df_AguasEmendadas_A045_d_filtro = inserir_mes_ano(df_AguasEmendadas_A045_d_filtro, 'Data Medicao')
df_bsb_83377_d_filtro_max = inserir_mes_ano(df_bsb_83377_d_filtro_max, 'Data Medicao')

In [12]:
df_bsb_83377_d_filtro = inserir_numero_mes(df_bsb_83377_d_filtro, 'Data Medicao')
df_bsb_A001_d_filtro = inserir_numero_mes(df_bsb_A001_d_filtro, 'Data Medicao')
df_AguasEmendadas_A045_d_filtro = inserir_numero_mes(df_AguasEmendadas_A045_d_filtro, 'Data Medicao')
df_bsb_83377_d_filtro_max = inserir_numero_mes(df_bsb_83377_d_filtro_max, 'Data Medicao')

Filtrar as colunas de interesse

In [13]:
est_bsb_conv_temp = df_bsb_83377_d_filtro[['Data Medicao','NUM_MÊS','MÊS','ANO','TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)']]
est_bsb_aut_temp = df_bsb_A001_d_filtro[['Data Medicao','NUM_MÊS','MÊS','ANO','TEMPERATURA MEDIA, DIARIA (AUT)(°C)']]
est_emendadas_aut_temp = df_AguasEmendadas_A045_d_filtro[['Data Medicao','NUM_MÊS','MÊS','ANO','TEMPERATURA MEDIA, DIARIA (AUT)(°C)']]
est_bsb_conv_temp_max = df_bsb_83377_d_filtro[['Data Medicao','NUM_MÊS','MÊS','ANO','TEMPERATURA MAXIMA, DIARIA(°C)']]

Aplicar regra de negócio:
- Regra 3: Verificar anos com registros em mais de 360 dias
- Regra 4: Verificar quantos anos estão completos e quantos estão incompletos

In [16]:
completos_bsb_conv, incompletos_bsb_conv = listar_anos_descartados(est_bsb_conv_temp, 'ANO')
print(f'{len(completos_bsb_conv)}, {len(incompletos_bsb_conv)}')

57, 6

In [17]:
completos_bsb_aut, incompletos_bsb_aut = listar_anos_descartados(est_bsb_aut_temp, 'ANO')
print(f'{len(completos_bsb_aut)}, {len(incompletos_bsb_aut)}')

13, 11

In [18]:
completos_emendadas_aut, incompletos_emendadas_aut = listar_anos_descartados(est_emendadas_aut_temp, 'ANO')
print(f'{len(completos_emendadas_aut)}, {len(incompletos_emendadas_aut)}')

7, 10

In [19]:
completos_bsb_conv_max, incompletos_bsb_conv_max = listar_anos_descartados(est_bsb_conv_temp_max, 'ANO')
print(f'{len(completos_bsb_conv_max)}, {len(incompletos_bsb_conv_max)}')

57, 6

Calcular a média da temperatura média e máxima da estação de interesse por mês

In [14]:
df_est_bsb_conv_temp = calcular_temperatura_media_mes(est_bsb_conv_temp, ['ANO','NUM_MÊS','MÊS'], 'TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)')
df_est_bsb_aut_temp = calcular_temperatura_media_mes(est_bsb_aut_temp, ['ANO','NUM_MÊS','MÊS'], 'TEMPERATURA MEDIA, DIARIA (AUT)(°C)')
df_est_emendadas_aut_temp = calcular_temperatura_media_mes(est_emendadas_aut_temp, ['ANO','NUM_MÊS','MÊS'], 'TEMPERATURA MEDIA, DIARIA (AUT)(°C)')
df_est_bsb_conv_temp_max = calcular_temperatura_media_mes(est_bsb_conv_temp_max, ['ANO','NUM_MÊS','MÊS'], 'TEMPERATURA MAXIMA, DIARIA(°C)')

In [ ]:
df_est_emendadas_aut_temp

In [ ]:
df_est_bsb_conv_temp_max

Calcular a média anual da temperatura média e máxima da estação de interesse para os anos completos

In [20]:
# Aplicar filtro, ie, lista com os anos que possuem mais de 360 dias e atribuir a variável precip_mes_serie
est_bsb_conv_temp_serie  = est_bsb_conv_temp[est_bsb_conv_temp["ANO"].isin(completos_bsb_conv)]
est_bsb_aut_temp_serie = est_bsb_aut_temp[est_bsb_aut_temp["ANO"].isin(completos_bsb_aut)]
est_emendadas_aut_temp_serie = est_emendadas_aut_temp[est_emendadas_aut_temp["ANO"].isin(completos_emendadas_aut)]
est_bsb_conv_temp_serie_max  = est_bsb_conv_temp_max[est_bsb_conv_temp_max["ANO"].isin(completos_bsb_conv_max)]

In [21]:
df_est_bsb_conv_temp_mes = calcular_temperatura_media_ano_completo(est_bsb_conv_temp_serie, ['NUM_MÊS','MÊS'], 'TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)')
df_est_bsb_aut_temp_mes = calcular_temperatura_media_ano_completo(est_bsb_aut_temp_serie, ['NUM_MÊS','MÊS'], 'TEMPERATURA MEDIA, DIARIA (AUT)(°C)')
df_est_emendadas_aut_temp_mes = calcular_temperatura_media_ano_completo(est_emendadas_aut_temp_serie, ['NUM_MÊS','MÊS'], 'TEMPERATURA MEDIA, DIARIA (AUT)(°C)')
df_est_bsb_conv_temp_mes_max = calcular_temperatura_media_ano_completo(est_bsb_conv_temp_serie_max, ['NUM_MÊS','MÊS'], 'TEMPERATURA MAXIMA, DIARIA(°C)')

In [22]:
df_est_bsb_conv_temp_mes

    NUM_MÊS        MÊS  TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)
0         1    January                                 21.592577
1         2   February                                 21.630224
2         3      March                                 21.654972
3         4      April                                 21.247420
4         5        May                                 20.016548
5         6       June                                 18.997148
6         7       July                                 18.889711
7         8     August                                 20.707746
8         9  September                                 22.367396
9        10    October                                 22.438981
10       11   November                                 21.494827
11       12   December                                 21.427866

In [23]:
df_est_bsb_aut_temp_mes

    NUM_MÊS        MÊS  TEMPERATURA MEDIA, DIARIA (AUT)(°C)
0         1    January                            21.820968
1         2   February                            21.859253
2         3      March                            21.749434
3         4      April                            21.545502
4         5        May                            20.177070
5         6       June                            19.536150
6         7       July                            19.346516
7         8     August                            21.253149
8         9  September                            23.585131
9        10    October                            23.493068
10       11   November                            21.806036
11       12   December                            21.848635

In [24]:
df_est_emendadas_aut_temp_mes

    NUM_MÊS        MÊS  TEMPERATURA MEDIA, DIARIA (AUT)(°C)
0         1    January                            21.774280
1         2   February                            21.834511
2         3      March                            21.803300
3         4      April                            21.327742
4         5        May                            20.176067
5         6       June                            19.063689
6         7       July                            18.931511
7         8     August                            20.557528
8         9  September                            22.874598
9        10    October                            22.886051
10       11   November                            21.523727
11       12   December                            21.656898

In [25]:
df_est_bsb_conv_temp_mes_max

    NUM_MÊS        MÊS  TEMPERATURA MAXIMA, DIARIA(°C)
0         1    January                       26.856843
1         2   February                       27.000374
2         3      March                       27.092234
3         4      April                       26.753599
4         5        May                       25.983814
5         6       June                       25.358392
6         7       July                       25.492116
7         8     August                       27.436523
8         9  September                       28.864190
9        10    October                       28.373965
10       11   November                       26.836950
11       12   December                       26.610017

Visualizar os resultados

In [28]:
df_est_bsb_conv_temp_mes['TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)'].mean()

21.038784588452803

26.888251276761892

In [26]:
fig = go.Figure()

fig.add_trace(go.Scatter(x=df_est_bsb_conv_temp_mes['MÊS'], 
                         y=round(df_est_bsb_conv_temp_mes['TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)'],2), 
                         mode='lines+markers', 
                         name='Estação Convencional Inmet (1961 - 2023)'))
fig.add_trace(go.Scatter(x=df_est_bsb_aut_temp_mes['MÊS'],
                         y=round(df_est_bsb_aut_temp_mes['TEMPERATURA MEDIA, DIARIA (AUT)(°C)'],2), 
                         mode='lines+markers', 
                         name= 'Estação Automática Inmet (2000 - 2023)'))
fig.add_trace(go.Scatter(x=df_est_emendadas_aut_temp_mes['MÊS'], 
                         y=round(df_est_emendadas_aut_temp_mes['TEMPERATURA MEDIA, DIARIA (AUT)(°C)'],2), 
                         mode='lines+markers', 
                         name='Estação Automática Águas Emendadas (2008 - 2023)'))

fig.add_trace(go.Scatter(x=df_est_bsb_conv_temp_mes_max['MÊS'], 
                         y=round(df_est_bsb_conv_temp_mes_max['TEMPERATURA MAXIMA, DIARIA(°C)'],2), 
                         mode='lines+markers', 
                         name='Tem. Max Estação Convencional Inmet (1961 - 2023)'))

fig.update_layout(title='Média da Temperatura Média Mensal - Estação Convencional Inmet (1961 - 2023)', xaxis_title='Mês', yaxis_title='Temperatura Média (°C)')

Valor médio da série tratada

In [27]:
print("Média da temperatura média - Est. Convencional Inmet: {}\n"
      "Média da temperatura máxima - Est. Convencional Inmet: {}\n"
            "Média da temperatura média - Est. Automática Inmet: {}\n"
            "Média da temperatura média - Est. Automática Águas Emendadas: {}".format(
        df_est_bsb_conv_temp_mes['TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)'].mean(),
        df_est_bsb_conv_temp_max['TEMPERATURA MAXIMA, DIARIA(°C)'].mean(),
        df_est_bsb_aut_temp_mes['TEMPERATURA MEDIA, DIARIA (AUT)(°C)'].mean(),
        df_est_emendadas_aut_temp_mes['TEMPERATURA MEDIA, DIARIA (AUT)(°C)'].mean()
))

Média da temperatura média - Est. Convencional Inmet: 21.038784588452803
Média da temperatura máxima - Est. Convencional Inmet: 26.893576961867993
Média da temperatura média - Est. Automática Inmet: 21.50174264454749
Média da temperatura média - Est. Automática Águas Emendadas: 21.200825137123797

Valor de UHI usado o Urban Cooling Index (UCI) = 1 - (TmédiaReferencia/TMaxmédiaUrbana)

In [ ]:
df_est_emendadas_aut_temp_mes['TEMPERATURA MINIMA, DIARIA (AUT)(°C)'].describe()

In [ ]:
df_bsb_A001_d.columns

In [ ]:
df_bsb_83377_d.nlargest(5,'TEMPERATURA MEDIA COMPENSADA, DIARIA(°C)')

In [ ]:
df_bsb_A001_d.nlargest(100,'TEMPERATURA MAXIMA, DIARIA (AUT)(°C)')

In [ ]:
df_bsb_A001_d['TEMPERATURA MAXIMA, DIARIA (AUT)(°C)'].std()

In [ ]:
df_bsb_A001_d['TEMPERATURA MAXIMA, DIARIA (AUT)(°C)'].describe()

In [ ]:
#UHI: Diferença entre a tempertura rural de referencia e a temperatura máxima observada na cidade
UHI = df_est_bsb_conv_temp_mes_max['TEMPERATURA MAXIMA, DIARIA(°C)'].mean() - df_est_emendadas_aut_temp_mes['TEMPERATURA MEDIA, DIARIA (AUT)(°C)'].mean()
UHI